.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
    flex-grow: 1;
    background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%)
}

.QiuzWrapper h1 {
    color: #fff;
    margin-left: 10px;
}

.QiuzWrapper {
    width: 600px;
}